/* font imports */
font-family: 'Permanent Marker', cursive;
font-family: 'Amatic SC', cursive;

/*universal styles*/

/* nav bar styles */
body {
  margin: 0;
  padding: 0;
  background: #232323;
  color: #cdcdcd;
  font-family: "Avenir Next", "Avenir", sans-serif;
}

a {
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

a:hover {
  color: tomato;
}

#menuToggle {
  display: block;
  position: fixed;
  top: 50px;
  left: 50px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  opacity: 1;
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu a{
  font-family: 'Amatic SC', cursive;
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

#menuToggle input:checked ~ ul {
  transform: scale(1.0, 1.0);
  opacity: 1;
}
/* end of nav styles*/

/* hero styles */
.hero-image {
    background-image: url("../img/header.jpg");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top: 75px;
}

.hero-text {
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    color: #42f498;
    text-shadow: 2px 2px black;
}

.name {
  font-size: 125px;
}
/* end of hero styles*/

/* social media bar styles*/
/* social media icons*/
.icon {
  margin: 10px;
  margin-bottom: 75px;
  display: inline-block;
}
/* end of social media icons*/
/*end of social media bar styles*/

/* start of homepage content styles */

.hp-img {
  width:100%;
  margin-bottom: 50px;
}

/*end of homepage content styles */

/*start of footer styles*/
.footer {
  width: 100%;
}

.footer-content {
  text-align: center;
  font-family: 'Amatic SC', cursive;
  background-color: #42f498;
}
/*end of footer styles*/
